# dependencies
node_modules

# testing
/coverage

# production
build/
.next/

# misc
.DS_Store
tailwind.css

# log
npm-debug.log*
yarn-debug.log*
../yarn-error.log

# editor
.idea/
.editorconfig

# Ignore all local files
*.local


*.local_keys

.vscode/*

# anchor stuff
target/*
**/target/*
.anchor/
test-ledger

# env
.env*
*.env
!.env.example
!app/.env.example
!app/.env.production

mainnet-deploy.sh
start-devnet.sh